@CHARSET "UTF-8";

* {
	font-size: 1em;
}

img {
	max-width: 100%;
	height: auto;
}

/* .container-fluid { padding: 0; } */

body {
	padding-top: 50px;
	background-color:#f5f5f5;
}

a, a:hover {
	text-decoration: none;
	color: #000000;
}

.footer {
	padding: 15px 0;
}

.firstWrap {
	padding: 5em 0;
	border-bottom: 1px solid #999;
	/* background-image: url('http://lorempixel.com/900/600/'); */
	background-image: url('/resources/images/blurSkyDark.png');
	background-color: black;
	background-size: cover;
	background-position: 50% 50%;
	color: white;
}

.firstWrap h1 {
	margin-top: 10px;
	text-shadow: 1px 1px 2px black;
}

.firstWrap p {
	font-size: 2em;
	text-shadow: 1px 1px 2px black;
}

.firstWrap .glyphicon, .secondWrap .glyphicon {
	font-size: 3em;
}

.secondWrap {
	margin-top: 3em;
}
.navbar-brand {
	padding: 10px 15px;
}

.ellipsis-label {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
}

.ellipsis-line {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.ellipsis-line2 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.ellipsis-line3 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.ellipsis-line4 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.vertical-line {
	border-right: 1px solid #eee;
}
ul {
	margin-bottom:0px;
}

li.badge:not(:first-child) {
	margin-left: 3px;
}

li.label:not(:first-child) {
	margin-left: 5px;
}

.label {
	font-size: 9pt;
	padding-top: 6px;
}