<div class="container">
	<div><span class="name"></span></div>
	<div><span class="createdDate"></span></div>
	<div><span class="reward"></span></div>
	<div><span class="qualification"></span></div>
	<div><span class="realname"></span></div>
	<div><span class="duration"></span></div>
	<div><span class="area"></span></div>
	<div><span class="kind"></span></div>
	<div><span class="description"></span></div>
	<div><span class="applicants"></span></div>
	<div><span class="questers"></span></div>
</div>