<div class="container-fluid quest-detail-node">
	<div><span class="name h3"></span></div>
	<div><span class="realname"></span><span class="createdDate pull-right"></span></div>
	<div><span class="reward"></span></div>
	<div><span class="qualification"></span></div>
	<div><span class="duration"></span></div>
	<div><span class="area"></span></div>
	<div><span class="kind"></span></div>
	<div><span class="description"></span></div>
	<div><ul class="applicants"></ul></div>
	<div><ul class="questers"></ul></div>
</div>

<style type="text/css">
span.name {
	padding-bottom:10px;
	margin: 44px; 0 22px;
	border-bottom: 1px solid #d4dbe0;
	display: block;
}
spane.* {
	display: block;
}
</style>