<script type="text/javascript">
function accept(questId, questerId) {
	if(confirm("수락하시겠습니까?")) {
		ajax.post("/api/quest/accept", {"questId":questId, "questerId":questerId}, function(result){
			if(result) {
				alert("수락했습니다");				
			} else {
				alert("퀘스터로 수락할 수 없습니다.");
			}
		});
	}
}

var id = $(location).attr("href").slice($(location).attr("href").lastIndexOf("/")+1)
ajax.get("/api/quest/"+id, {}, function(quest){
	console.log(quest);
	$html = $("<div>");
	$html.append($("<div>").html(quest.name));
	$html.append($("<div>").html($.datepicker.formatDate('yy년 mm월 dd일', new Date(quest.createdDate))));
	$html.append($("<div>").html(quest.reward));
	$html.append($("<div>").html(quest.qualification));
	$html.append($("<div>").html(quest.requester.user.realname));
	$html.append($("<div>").html(quest.duration));
	$html.append($("<div>").html(quest.classification[0].kind.area.name));
	$html.append($("<div>").html(quest.classification[0].kind.name));
	$html.append($("<div>").html(quest.description));
	$html.append($("<div>").html(quest.applicants.length + "명"));
	$html.append($("<div>").html(quest.questers.length + "명"));
	$html.append($("<div>").html("지원자"));
	for(i in quest.applicants) {
		$applicant = $("<div>").html(quest.applicants[i].user.realname);
		$applicant.click(function(){ accept(quest.id, quest.applicants[i].id); });
		$html.append($applicant);
	}
	$html.append($("<div>").html("퀘스터"));
	for(i in quest.questers) {
		$html.append($("<div>").html(quest.questers[i].user.realname));
	}
	//$html.append($("<div>").html());
	//패널티 위약금
	//requirements
	//지원자수/모집자수
	$("#main").append($html);
});
</script>