<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>list</title>
<link rel="stylesheet" href="/resources/css/normalize.css">
<link rel="stylesheet" href="/resources/assets/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/lib/bootstrap/css/bootstrap-theme.min.css">
<script data-main="/resources/js/main" src="/resources/assets/lib/jquery/jquery-2.1.0.min.js"></script>
<script data-main="/resources/js/main" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script data-main="/resources/js/main" src="/resources/js/ajax.js"></script>
<script data-main="/resources/js/main" src="/resources/js/function.js"></script>
<script data-main="/resources/js/main" src="/resources/assets/lib/react/react.js"></script>
<script data-main="/resources/js/main" src="/resources/assets/lib/react/react-dom.js"></script>
<script type="text/javascript">
//ajax.get("/api/quest/list", {}, function(list){func.list(list)});
ajax.get("/api/quest/list", {}, function(list){
	console.log(list);
	for(i in list) {
		//list[i]
		//name, description, reward, duration, createdDate
	}
});
</script>
<style type="text/css">

</style>
</head>
<body>
<h1>퀘스트 리스트</h1>
<div style="border:1px solid; width:600px;">
	<div style="margin:5px;">
		<div style="float:left;">한국공기업</div>
		<div style="float:right;">16.01.09</div>
	</div>
	<div style="clear:both; margin:5px;">
		<div style="float:left;"><b>웹 사이트를 만들어라</b></div>
		<div style="float:right;">27일간</div>
	</div>
	<div style="clear:both; margin:5px;">
		<div style="float:left; padding-right:30px;">
			<div><b>1000만원</b> <b>유저 레벨 3이상, 프로그래밍 스킬 레벨 3 이상</b></div>
			<div>설명 어쩌구저쩌구</div>
		</div>
		<div>
			<div><b>1명 모집 | 10명 지원</b></div>
			<div><b>13일 남음</b></div>
			<div><button>지원하기</button></div>
		</div>
	</div>
</div><br/> 

<div style="border:1px solid; width:600px;">
	<div style="margin:5px;">
		<div style="float:left;">한국공기업</div>
		<div style="float:right;">16.01.09</div>
	</div>
	<div style="clear:both; margin:5px;">
		<div style="float:left;"><b>웹 사이트를 만들어라</b></div>
		<div style="float:right;">27일간</div>
	</div>
	<div style="clear:both; margin:5px;">
		<div style="float:left; padding-right:30px;">
			<div><b>1000만원</b> <b>유저 레벨 3이상, 프로그래밍 스킬 레벨 3 이상</b></div>
			<div>설명 어쩌구저쩌구</div>
		</div>
		<div>
			<div><b>1명 모집 | 10명 지원</b></div>
			<div><b>13일 남음</b></div>
			<div><button>지원하기</button></div>
		</div>
	</div>
</div>
</body>
</html>