<script type="text/javascript">
function apply(value) {
	ajax.post("/api/quest/apply", {"id":value}, function(result){
		if(result) alert("지원하였습니다");
		else alert("지원할 수 없습니다.")
	});
}
ajax.get("/api/quest/list", {}, function(list){
	console.log(list);
	for(i in list) {
		$container = $("<div>").addClass("container-pluid");
		
		$row = $("<div>").addClass("row");
		$col = $("<div>").addClass("col-xs-10");
		if(jQuery.type(list[i].classification[0]) != "undefined") {
			var text = list[i].classification[0].kind.area.name + "&nbsp;>&nbsp;" + list[i].classification[0].kind.name + "&nbsp;|&nbsp;";  
			$col.append($("<span>").html(text));
		}
		$col.append($("<span>").html(list[i].requester.user.realname));
		$row.append($col);
		var createdDate = $.datepicker.formatDate('y.mm.dd', new Date(list[i].createdDate));
		//$row.append($("<div>").addClass("col-xs-2").append($("<span>").addClass("pull-right").append(createdDate)));
		$container.append($row);
		
		$row = $("<div>").addClass("row");
		$name = $("<a>").attr("href", "/quest/" + list[i].id).html(list[i].name).addClass("h3");
		$row.append($("<div>").addClass("col-xs-10").append($("<span>").append($name)));
		//마감정보
		$row.append($("<div>").addClass("col-xs-2").append($("<span>").addClass("pull-right").append(list[i].duration + "일간")));
		$container.append($row);
		
		$row = $("<div>").addClass("row");
		$row.append($("<div>").addClass("col-xs-6").append($("<span>").append(list[i].reward)));
		$row.append($("<div>").addClass("col-xs-6").append($("<span>").addClass("pull-right").append(list[i].qualification)));
		$container.append($row);
		
		$row = $("<div>").addClass("row");
		$row.append($("<div>").addClass("col-xs-12").html(list[i].description));
		$container.append($row);
		
		$row = $("<div>").addClass("row");
		$applyButton = $("<button>").attr("id", "applyButton" + list[i].id).attr("name", "applyButton").val(list[i].id).html("지원");
		$applyButton.addClass("pull-right");
		$applyButton.click(function() { apply(this.value); });
		$row.append($("<div>").addClass("col-xs-12").append($applyButton))
		$container.append($row);
		$("#main").append($container);
		//마감일
		//지원자수
		//모집자수?
	}
});
</script>
<style type="text/css">
.container {border:1px solid;}
.container-pluid {border:1px solid;}
.row {clear:both; display: block;}
</style>