<div class="list-group-item">
	<div class="row">
		<div class="col-xs-10"><span class="area"></span> > <span class="kind"></span></div>
		<div class="col-xs-2"><span class="realname pull-right"></span></div>
		<!-- 마감일 -->
	</div>
	<div class="row">
		<div class="col-xs-10"><span class="name h4 list-group-item-heading"></span></div>
		<div class="col-xs-2"><span class="duration pull-right"></span></div>
	</div>
	<div class="row">
		<div class="col-xs-6"><span class="reward"></span></div>
		<div class="col-xs-6"><span class="qualification"></span></div>
	</div>
	<div class="row">
		<div class="col-xs-12"><span class="description list-group-item-text"></span></div>
	</div>
	<button class="btn btn-default pull-right" name="applyButton">지원</button>
</div>