<script type="text/javascript">
var userId = null;
var mainQuester	=null;

$(document).ready(function() {
	
	ajax.get("/api/quester/list/user", {}, function(list){
		
		if(list==null) return;
		userId = list[0].user
		mainQuester = list[0].user.mainQuester;
		for(i in list) {
			
			
			$quester = $("<a>").attr("role", "menuItem").attr("id", list[i].id).html(list[i].name);
			$quester.click(function() { selectMainQuester(this.id); });
			$list = $("<li>").attr("role", "presentation").append($quester);
			$("#questerList").find(".dropdown-menu").append($list);
		}
		
		
	});
	
	
});

function selectMainQuester(selectedId) {
	
	console.log("mainQuester : "mainQuester);
	
	ajax.put("/api/user/"+,{})	
	/*
	ajax.(selectedId, function(data) {
		console.log(data);
		if(data != null) {
			alert("메인퀘스트를 선택하였습니다.");
			location.href = '/';
		}
		else {
			alert(data.mssege);
		}
	});
	return false;
	*/
	console.log(selectedId);
	
}
</script>

메인퀘스터 선택.
<div id=currentMainQuesterName>
</div>

<div class="dropdown" id=questerList>
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  </ul>
</div>